body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:751px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:43px;
  top:53px;
  width:1289px;
  height:751px;
}
#u125 {
  position:absolute;
  left:2px;
  top:368px;
  width:1285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:597px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:153px;
  top:183px;
  width:1085px;
  height:597px;
}
#u128 {
  position:absolute;
  left:2px;
  top:290px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:43px;
  top:117px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130 {
  position:absolute;
  left:43px;
  top:772px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u130_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  position:absolute;
  left:1300px;
  top:772px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u131_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u131_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132 {
  position:absolute;
  left:1300px;
  top:117px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u132_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:64px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:43px;
  top:53px;
  width:1289px;
  height:64px;
}
#u136 {
  position:absolute;
  left:2px;
  top:24px;
  width:1285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u138 {
  position:absolute;
  left:306px;
  top:53px;
  width:149px;
  height:64px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u139 {
  position:absolute;
  left:64px;
  top:21px;
  width:59px;
  white-space:nowrap;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u140 {
  position:absolute;
  left:440px;
  top:53px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u141 {
  position:absolute;
  left:28px;
  top:22px;
  width:59px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u142 {
  position:absolute;
  left:541px;
  top:53px;
  width:113px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u143 {
  position:absolute;
  left:28px;
  top:22px;
  width:59px;
  white-space:nowrap;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u144 {
  position:absolute;
  left:642px;
  top:53px;
  width:141px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u145 {
  position:absolute;
  left:28px;
  top:22px;
  width:87px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:64px;
}
#u146 {
  position:absolute;
  left:172px;
  top:53px;
  width:118px;
  height:64px;
  font-family:'楷体 Bold Oblique', '楷体 Regular', '楷体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#990000;
}
#u147 {
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:1123px;
  top:69px;
  width:29px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u151 {
  position:absolute;
  left:1158px;
  top:53px;
  width:46px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u152 {
  position:absolute;
  left:2px;
  top:22px;
  width:42px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u153 {
  position:absolute;
  left:1089px;
  top:77px;
  width:12px;
  height:16px;
}
#u154 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u155 {
  position:absolute;
  left:1054px;
  top:77px;
  width:14px;
  height:16px;
}
#u156 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
